# Input

Your task is to complete the code below in order to evaluate the results of four basic arithmetic operations.

In [1]:
# TODO: input a float value for variable A here
A = float(input())

# TODO: input a float value for variable B here
B =float(input())

# TODO: output the result of addition here
print(A+B)

# TODO: output the result of subtraction here
print(A-B)

# TODO: output the result of multiplication here
print(A*B)

# TODO: output the result of division here
print(A/B)

1.2000000000000002
1.0
0.11000000000000001
11.0

Write a program that asks the user to input a number, then compute and print the square of that number.

In [14]:
# Your code here
user_number=int(input("Please enter a number:"))
print(user_number**2)

Please enter a number:5
25

Write a program that calculates the sum of four integer numbers entered with the keyboard.

In [17]:
number1=int(input("Please enter number1:"))
number2=int(input("Please enter number2:"))
number3=int(input("Please enter number3:"))
number4=int(input("Please enter number4:"))
print(number1+number2+number3+number4)

Please enter number1:2
Please enter number2:3
Please enter number3:4
Please enter number4:6
15

# Output
Read and try to understand the following examples of the print function:

In [19]:
# You can print just one argument
print("hello world")

# You can print several arguments
print("hej hej", "welcome to halmstad", "foo bar")

# Below are some example of mixing numbers and text inside the print() function
name = "Bob"
age = 30
print("My name is", name,"and I am", age,"years old.")
print(f"My name is {name} and I am {age} years old.")

hello world
hej hej welcome to halmstad foo bar
My name is Bob and I am 30 years old.
My name is Bob and I am 30 years old.

# Glasses of water
Consider the following code:

In [27]:
glass_of_water = 2
print("I drank", glass_of_water, "glasses of water today.")

I drank 2 glasses of water today.

Increase the value of the variable `glass_of_water` by 1, then print it again.

In [28]:
# TODO: increment glass_of_water by 1
glass_of_water=glass_of_water+1
print("I drank" , glass_of_water, "glasses of water today.")

# TODO: print it

I drank 3 glasses of water today.

Double the value of variable glass_of_water, then print it again.

In [29]:
# TODO: double the values of glass_of_water
glass_of_water=glass_of_water*2
print("I drank" , glass_of_water, "glasses of water today.")

# TODO: print it

I drank 6 glasses of water today.

# Strings
Read, complete, and try to understand the output of following examples:

In [37]:
a = 6
# TODO: modify the print below to also display the type of the variable a
print(a*5 , type(a))



a = "6"
# TODO: modify the print below to also display the type of the variable a
print(a*5 , type(a))


city = "Halmstad"
# TODO: modify the print below to also display the type of the variable city
print(city * 3 , type(city))


n = len(city)
print(f"The legth of {city} is {n}")

print( city[0] )  # The character at index 0
print( city[0:3] ) # The sub-string consisting of characters at indices 0, 1, 2
# TODO: How would you display the last character in the string city ?
print(city[-1])

adress = city + " Sweden"
# TODO: add the string "Strandgatan " at the beginning of adress
# adress = ...
print("Strandgatan" , adress)

30 <class 'int'>
66666 <class 'str'>
HalmstadHalmstadHalmstad <class 'str'>
The legth of Halmstad is 8
H
Hal
d
Strandgatan Halmstad Sweden

# Swap
Complete the code to swap the content of two string variables A and B.

In [3]:
A = input("Enter the name of a country: ")
B = input("Enter the name of another country: ")

print(f"BEFORE: country A is {A} and country B is {B}")

# TODO: Swap the the content of A and B
A, B=B, A

print(f"AFTER: country A is {A} and country B is {B}")

BEFORE: country A is Sweden and country B is Türkiye
AFTER: country A is Türkiye and country B is Sweden

# Performing basic calculations

The code below reads a float value into a variable named `x`. Your task is to complete the code in order to calculate the value of `y` which is defined as $y = 3 x^3 - 2 x^2 + 3 x - 1$.

Once you finish, you can test your code to see if it works, using the following examples:
- with an input $x$ equal to 0, $y$ should be -1.0
- with an input $x$ equal to 1, $y$ should be 3.0
- with an input $x$ equal to -1, $y$ should be -9.0

In [3]:
x = input("Please enter a number: ")
x = float(x)
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
print("y is ", y)

Please enter a number: -1
y is  -9.0

# Total price calculation

Write a program that reads:
- (1) the price of an item (a float number)
- (2) the number of items to buy (an integer number)
- (3) the tax rate (a percentage represented by a float number between 0 and 1)

The program should then provides the total price including tax.

For example, suppose that a phone costs 1000 SEK, you want to buy 3 phones, and the tax rate is 0.1 (or 10%).
The price for the three phones (before tax) is $1000 \times 3 = 3000$ SEK. The tax to pay is $3000 \times 0.1 = 300$ SEK. So, the total price including tax is $3000 + 300 = 3300$ SEK.

In [7]:
# TODO: your code here
price = float(input("Please enter the price of an item: "))
number_of_items= int(input("Please write the number of items to buy: "))
tax_rate= float(input("Please write the tax rate between 0 and 1: "))

print(price*number_of_items+price*tax_rate*number_of_items , "SEK"
)

Please enter the price of an item: 1000
Please write the number of items to buy: 3
Please write the tax rate between 0 and 1: 0.1
3300.0 SEK